.body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : white;
    color: black;
}

.dashboard{
    display: grid;
    grid-template-columns: 13% 1fr 1fr 1fr;
    grid-template-rows:  25% 1fr 1fr 1fr;
}

.sidebar{
    background-color: rgb(29, 169, 216);
    grid-row: span 10;
}

a{
    color: white;
    text-decoration: none;
    font-size: larger;
    padding-left: 1em;
}

h1{
    color: white;
    text-align: center;
}