html, body{
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : white;
    color: black;
}

.dashboard{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 13% 1fr 1fr 1fr;
    grid-template-rows:  25% 1fr 1fr 1fr;
}

.sidebar{
    background-color: rgb(29, 169, 216);
    grid-column: 1;
    grid-row: 1 / -1;
}

.main{
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}

a{
    color: white;
    text-decoration: none;
    font-size: larger;
    padding-left: 1em;
}

h1{
    color: white;
    text-align: center;
}

.header{
    display: grid;
    background-color: red;
    padding: 1.25rem 2rem;
    gap: 1.25rem;
    grid-template-rows: auto auto;
    box-shadow: 0 2px 8px black;
}

.header-top{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
}

.search-form{
    width: 100%;
    max-width: 700px;
}

.search{
    width: 100%;
    height: 2.25rem;
    border: none;
    outline: none;
    background: white;
    border-radius: 999px;
    padding: 0 1rem;
    margin: 0;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.notifications{
    font-size: 1.25rem;
}

.avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: white;
    display: inline-block;
}
