html, body{
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : white;
    color: black;
}

.dashboard{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 13% 1fr 1fr 1fr;
    grid-template-rows:  25% 1fr 1fr 1fr;
}

.sidebar{
    background-color: rgb(29, 169, 216);
    grid-column: 1;
    grid-row: 1 / -1;
}

.main{
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}

a{
    color: white;
    text-decoration: none;
    font-size: larger;
    padding-left: 1em;
}

h1{
    color: white;
    text-align: center;
}

.header{
    display: grid;
    background-color: red;
}

.search{
    width: 40%;
    height: 1.5em;
    margin: 1.5em 3em 0em 5em;
    border-radius: 10px;
}
